{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto"  name="old_password" placeholder="Old Password" type="password">
            <input class="form-control mx-auto w-auto"  name="new_password" placeholder="new Password" type="password">
            <input class="form-control mx-auto w-auto"  name="confirmation" placeholder="confirm password" type="password">
        </div>

        <button class="btn btn-primary" type="submit">change the password</button>
    </form>
{% endblock %}
